# Ignore Python virtual environment folder
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore distribution/package files
*.egg
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore log files and database
*.log
*.sqlite3

# Ignore any other unnecessary files
*.whl
.DS_Store
